@import 'SAOFont.css';

html, body {
    height: 100%;
    width: 100%;
    font-size: 200px;
}

body {
    margin: 0;
    padding: 0;
    display: table;
    font-weight: 100;
    font-family: 'SAOUI', 'Lato', 'Noto Sans TC',sans-serif;
    font-size: 1.2em;
    /*background-color: black;*/
    /*color: red;*/
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    min-height: 100vh;
    min-width: 100vh;
}

.content {
    text-align: center;
    display: inline-block;
    word-break: break-all;
    min-width: 100%;
}
.button {
    cursor: pointer;
    display: inline-block;
    min-height: 1em;
    outline: none;
    border: none;
    vertical-align: baseline;
    background: #E0E1E2 none;
    color: rgba(0, 0, 0, 0.6);
    font-family: 'SAOUI', 'Lato', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin: 0 0.25em 0 0;
    padding: 0.78571429em 1.5em 0.78571429em;
    text-transform: none;
    text-shadow: none;
    /*font-weight: bold;*/
    font-size: 1.5em;
    line-height: 1em;
    font-style: normal;
    text-align: center;
    text-decoration: none;
    border-radius: 0.28571429rem;
    box-shadow: 0 0 0 1px transparent inset, 0 0 0 0 rgba(34, 36, 38, 0.15) inset;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    transition: opacity 0.1s ease, background-color 0.1s ease, color 0.1s ease, box-shadow 0.1s ease, background 0.1s ease;
    -webkit-tap-highlight-color: transparent;
}
.start.button {
    background-color: transparent;
    box-shadow: 0 0 0 2px #54C8FF inset !important;
    color: #54C8FF;
}
.start.button:active {
    box-shadow: none !important;
    color: #FFFFFF;
}
.start.button:focus {
    background-color: #3ac0ff;
    color: #FFFFFF;
}
.start.button:hover {
    background-color: #2bbbff;
    color: #FFFFFF;
}
.stop.button {
    background-color: transparent;
    box-shadow: 0 0 0 2px #FF695E inset !important;
    color: #FF695E;
}
.stop.button:active {
    box-shadow: none !important;
    color: #FFFFFF;
}
.stop.button:focus {
    background-color: #ff5144;
    color: #FFFFFF;
}
.stop.button:hover {
    background-color: #ff4335;
    color: #FFFFFF;
}